
.footer {

    min-width: 100%;
    min-height: 15vh;
    background-image: radial-gradient(circle at 49% 45%, rgba(255, 255, 255, 0.08), #000000);
    position: absolute;
    bottom: 0px;


}

body, .container-fluid {
    margin: 0px;
    padding: 0px;
}

img {
    width: 200px;
}

p a {
    color: #fff;
}